/* Color-template */
.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-secong{
    color: $color-second;
}

.color-secong-bg{
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
}
.color-yellow-bg{
    background: $color-yellow;
}